
@page
@model AccountSettings
@{
    ViewData["Title"] = "Account Settings";
}
@using RadoreCaseRamazan.RadoreApiController

<body>
  <div class="left-align">
    <div>
      <button id="showAllMembersButton">Tüm Hesapları Göster</button>
    </div>
    <div>
      <ul  class="AccountListView " id="AccountsList"></ul>
    </div>
  </div>

<div class="right-align">
 
  <button id="addMemberButton" type="submit" >Yeni Hesap Oluştur</button>
  
<form method="post">
  <div>
    <input type="text" id="hostingDomainName" name="hostingDomainName" placeholder="Hosting Domain Name" class="hidden">
  </div>
  <div>
    <input type="text" id="hostingPackage" name="hostingPackage" placeholder="Hosting Package" class="hidden">
  </div>
  <div>
    <button id="addMemberDoneButton" class="hidden" type="submit" asp-page-handler="CreateAccount">Hesabı Oluştur</button>
  </div>
</form>

</div>
</body>



<style>

  .left-align {
    float: left;
  }

  .right-align {
    float: right;
    position: relative;
     right: 800px; 
  }
#showAllMembersButton {
  width: 200px;
  height: 35px;
}

#addMemberButton {
  width: 200px;
  height: 35px;
  position: relative;
  left: 300px;


}

#hostingDomainName {
  width: 200px;
  height: 35px;
  margin-top: 10px;
  position: relative;
  left: 300px;
}

#hostingPackage {
  width: 200px;
  height: 35px;
  margin-top: 10px;
  position: relative;
  left: 300px;
}

#addMemberDoneButton {
  width: 200px;
  height: 35px;
  margin-top: 10px;
  position: relative;
  left: 300px;
}
#AccountsList{
width: 200px;
height: 35px;
}



.hidden {
  display: none;
}
.AccountListView{
color: white;
}
</style>

@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
    </script>
}

@section Scripts {
  <script>
     document.getElementById("showAllMembersButton").addEventListener("click", function() {  @* Tüm Hesapları Göster Fonksiyonu burada çalışıyor. *@
         
         var members = @Html.Raw(Json.Serialize(RadoreApiController.Instance.AccountsList));//RadoreApiControllerdan tüm hesapların listesini alıyor.
       
         var listContainer = document.getElementById("AccountsList");//html sayfasında listcontainer'ı yakalıyor
         
         var showAccountsButton=document.getElementById("showAllMembersButton");
       
         // Önceki listeyi temizle 
         
         if (listContainer.firstChild){
             
             showAccountsButton.textContent="Tüm Hesapları Göster"
               while (listContainer.firstChild) {
                          listContainer.removeChild(listContainer.firstChild);
                      }
             }
             
       else{
           
              showAccountsButton.textContent="Tüm Hesapları Gizle"
              for (var i = 0; i < members.length; i++) {
                        var listItem = document.createElement("li");
                        listItem.textContent = members[i];
                        
                        listItem.textContent= " " + members[i];
                        
                        listContainer.appendChild(listItem);
                    }
           }
      
     });
     
       document.getElementById("addMemberButton").addEventListener("click", function() {  @* Yeni hesap ekleme işlemi sırasında bu fonksiyon invoke edilmesi *@
          var hostingDomainName = document.getElementById("hostingDomainName");
           var hostingPackage = document.getElementById("hostingPackage");
           var addMemberDoneButton = document.getElementById("addMemberDoneButton");
      

        hostingDomainName.classList.remove("hidden"); //Butonların görünür yapılması
          hostingPackage.classList.remove("hidden");
          addMemberDoneButton.classList.remove("hidden");
      //  
          });
       
       
        document.getElementById("addMemberDoneButton").addEventListener("click", function() {
          
         var hostDomainName=document.getElementById("hostingDomainName").value;
         
      
         
         var hostingPackage=document.getElementById("hostingPackage").value;
            console.log(hostDomainName);
                  console.log(hostingPackage);
         
         if (hostDomainName.length<=0){
         
           var result = window.confirm("Hosting Domain İsmi Boş Olamaz!");
           return;
           }
         
         else if (hostingPackage.length<=0){
           
           var result = window.confirm("Hosting Package İsmi Boş Olamaz!");
           return;
          }
         
     
          });
       
        
        
        
        
     
     
    </script>


}