@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div>
        <iframe src="https://giphy.com/embed/xThuW6sWCGbpZMpX7a" width="200" height="200" class="giphy-embed" allowFullScreen></iframe>
    </div>
    <h1 class="display-4">Hoşgeldiniz</h1>

</div>
<style>
   .display-4{
   color: #ffffff;
   }
    </style>